/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --heading-color: #000028;
  --heading-and-menu-color: #ff0070;
  --heading-and-menu-color-rgb: 255, 0, 112;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-theme: flex;
}
