/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

:root.theme-light {
  --main-font: monospace;
  --accent-font: "IBM Plex Mono";

  --bg-color: #fff1f7;
  --text-color: #353430;
  --heading-color: #353430;
  --heading-and-menu-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --bg-image: url(/images/cover-image-light.png);
}

.theme-light .header-decor,
.theme-light .header-decor::before {
  display: none;
}

.header__theme-menu-item:hover {
  outline: 1px solid #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --main-font: monospace;
    --accent-font: "IBM Plex Mono";

    --bg-color: #fff1f7;
    --text-color: #353430;
    --heading-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --bg-image: url(/images/cover-image-light.png);
    --heading-and-menu-color: #353430;
  }

  :root:not(.theme-dark) .header-decor,
  :root:not(.theme-dark) .header-decor::before {
    display: none;
  }

  .header__theme-menu {
    color: var(--text-color);
  }

  .heading-on-bg {
    color: var(--text-color);
  }

  .header__theme-menu-item:hover {
    outline: 1px solid #32312d66;
  }

  :root:not(.theme-dark) .header__theme-menu-item:hover,
  :root:not(.theme-dark) .header__theme-menu-item:hover::before {
    outline: none;
  }
}
