/*
  Специально для светлой темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --heading-color: #353430;
  --heading-and-menu-color: #353430;
  --heading-and-menu-color-rgb: 53, 52, 48;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
  --rec-theme: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --heading-color: #353430;
    --heading-and-menu-color: #353430;
    --heading-and-menu-color-rgb: 53, 52, 48;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
    --rec-theme: none;
  }
}
