/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  inline-size: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  font-family: var(--accent-font), sans-serif;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

:is(.header, .footer).decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--heading-and-menu-color);
  top: 10px;
  right: 10px;
  border-inline-start: none;
  border-block-end: none;
}

:is(.header, .footer).decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--heading-and-menu-color);
  bottom: 10px;
  left: 10px;
  border-inline-end: none;
  border-block-start: none;
}

.content-section {
  width: 100%;
  padding: 40px 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
}

.heading-main {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: bold;
  line-height: 83%;
  margin: 0;
  padding: 0 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  color: var(--heading-and-menu-color);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header-decor {
  display: var(--rec-theme, flex);
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 19px 0 0;
  white-space: nowrap;
  align-items: center;
  gap: 10px;
  font-family: var(--accent-font), sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  line-height: 25px;
}

.header-decor::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
}

.header-decor,
.header-decor::after {
  display: var(--rec-theme);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-end: 10px;
  line-height: 18px;
}

.header__theme-menu-item {
  margin: 0;
}

.header__theme-menu-button {
  font-family: var(--accent-font), sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  cursor: pointer;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--heading-and-menu-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-decoration-color: var(--heading-and-menu-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--heading-and-menu-color);
  pointer-events: none;
}

.heading-on-bg {
  color: var(--heading-and-menu-color);
  font-size: 18px;
  font-weight: bold;
}

.heading-on-accent {
  color: var(--heading-color);
  font-size: 18px;
  font-weight: bold;
  background-color: var(--accent-color);
}

.heading-on-accent-span {
  display: block;
}

.heading-on-accent-regular {
  color: var(--heading-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: normal;
}

.block-accent {
  background-color: var(--accent-color);
  max-width: 364px;
  margin: 0 10px;
  line-height: 23.4px;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

.content-text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: normal;
  margin-block-start: 10px;
  line-height: 23.4px;
}

.text-shadow {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.text-shadow:hover {
  box-shadow: 0px 1px var(--text-color);
}

.text-shadow:focus {
  outline: none;
}

.text-shadow:focus-visible {
  outline: 1px solid var(--text-color);
}

.block-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-section-four {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.heading-main-footer {
  font-size: clamp(4rem, 8.5rem + 1.5vw, 116px);
  color: var(--title-color);
  font-weight: bold;
  line-height: 83%;
  padding: 0 10px;
  text-shadow: 2px 2px var(--accent-color);
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-block-start: 40px;
}

@media (width >= 768px) {
  :is(.header, .footer).decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  :is(.header, .footer).decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .content-section {
    padding: 60px 20px 0;
    gap: 80px;
  }

  .header-decor {
    padding: 20px 29px 0 0;
  }

  .header__theme-menu-list {
    padding-inline-end: 20px;
  }

  .heading-main {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 0;
  }

  .block-accent {
    margin: 0 20px;
  }

  .header {
    min-block-size: 1024px;
  }

  .block-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
  }

  .heading-on-bg-why {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  .content-text-block {
    grid-column: 2;
  }

  .block-what {
    display: flex;
    flex-wrap: nowrap;
  }

  .heading-on-bg-what {
    width: clamp(30%, 236px, 13.2em);
  }

  .block-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .heading-on-bg-how {
    grid-row: 2 span / -1;
  }

  .block-four {
    gap: 20px;
  }

  .block-four-pic {
    gap: 20px;
    display: grid;
    object-fit: cover;
    grid-template-columns: repeat(3, minmax(229px, 1fr));
    grid-auto-rows: minmax(192px, auto);
  }

  .pic-vert {
    grid-row: 2 span;
  }

  .pic-hor {
    grid-column: 2 span;
  }

  .picture {
    height: 100%;
  }

  .footer {
    min-block-size: 1024px;
    margin-block-start: 60px;
  }

  .heading-main-footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    align-self: self-start;
    justify-self: center;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .block-accent {
    margin: 0 20px;
    max-width: 491px;
  }

  .block-what-span {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer {
    min-block-size: 768px;
  }
}
