/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  inline-size: 100%;
  /* max-inline-size: 375px; */
  margin: 0 auto;
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.decorated-zone {
  /*уголки*/
}

.content-section {
  width: 100%;
  padding: 40px 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
}

.heading-main {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: bold;
  line-height: 83%;
  margin: 0;
  padding: 0 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  margin: 0;
}

.header-decor {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}

.decor-text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  line-height: 25px;
}

.decor-dot {
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-item {
  margin: 0;
}

.header__theme-menu-button {
  font-family: var(--accent-font);
  text-transform: lowercase;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.heading-on-bg {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: bold;
}

.heading-main-on-pink {
  color: var(--heading-color);
  font-size: 18px;
  font-weight: bold;
}

.heading-on-pink {
  color: var(--heading-color);
  font-size: 18px;
  font-weight: bold;
  background-color: var(--accent-color);
}

.heading-on-pink-regular {
  color: var(--heading-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: normal;
}

.block-pink {
  background-color: var(--accent-color);
  max-height: 117px;
  max-width: 364px;
  margin: 0 10px;
  line-height: 23.4px;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}

.text-shadow {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.block-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-three {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-four {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-four-pic {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.heading-main-footer {
  font-size: clamp(4rem, 8.5rem + 1.5vw, 116px);
  color: var(--title-color);
  font-weight: bold;
  line-height: 83%;
  padding: 0 10px;
  text-shadow: 2px 2px var(--accent-color);
}

.footer {
  height: 100vh;
  min-height: 667px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width >= 768px) {
  .page {
    max-inline-size: 768px;
  }

  .content-section {
    padding: 60px 20px 0;
  }

  .header {
    min-height: 1024px;
  }

  .block-one {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .heading-on-bg-one {
    grid-row: 2 span;
  }

  .block-two {
    display: flex;
    flex-wrap: nowrap;
  }

  .heading-on-bg-two {
    width: clamp(30%, 236px, 13.2em);
  }

  .block-three {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fill, min-content);
  }

  .heading-on-bg-three {
    grid-row: 6 span;
  }

  .block-four-pic {
    gap: 20px;
    display: grid;
    object-fit: cover;
    grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
    grid-auto-rows: minmax(192px, auto);
  }
  .pic-vert {
    grid-row: 2 span;
  }

  .pic-hor {
    grid-column: 2 span;
  }

  .picture {
    height: 100%;
  }

  .block-pink {
    margin: 0 20px;
  }
}

@media (width >= 1024px) {
}
