/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-font: "IBM Plex Mono";

  --bg-color: #000028;

  --text-color: #f1b2ce;

  --heading-color: #000028;

  --heading-and-menu-color: #ff0070;

  --title-color: #db00ff;

  --accent-color: #ff0070;

  --bg-image: url(./images/cover-image-dark.png);

  --rec-theme: flex;
}
